Karten_Spiel_Unity/Library
!Karten_Spiel_Unity/.vscode
!Karten_Spiel_Unity/Assets
!Karten_Spiel_Unity/Logs
!Karten_Spiel_Unity/Packages
!Karten_Spiel_Unity/ProjectSettings
Karten_Spiel_Unity/UserSettings
!Karten_Spiel_Unity/Karten_Spiel_Unity.sln

Test/Library
!Test/.vscode
!Test/Assets
!Test/Logs
!Test/Packages
!Test/ProjectSettings
Test/UserSettings
!Test/Karten_Spiel_Unity.sln
